<div class="col-md-8 col-md-offset-2">
  <% @bugs.each do |bug| %>
      <div class="row well">
        <%= link_to bug.ticket_number, bug_path(bug) %>

        <span class="score_index">
          Score: <%= bug.score %>
        </span>

        <div class="bug_actions">
          <%= link_to 'Edit this bug', edit_bug_path(bug), class: 'btn btn-xs btn-primary' %>
          <%= link_to 'Delete this bug', bug_path(bug),
                      method: :delete,
                      data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
        </div>
      </div>

  <% end %>

  <div class="actions">
    <%= link_to 'Add new Bug', new_bug_path, class: 'btn btn-xs btn-primary' %>
  </div>
</div>